<div class="page-header">
  <%= link_to lends_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_lend_path(@lend), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show lend</h1>
</div>

<dl class="dl-horizontal">
  <dt>Date:</dt>
  <dd><%= @lend.date %></dd>

  <dt>Quantity:</dt>
  <dd><%= @lend.quantity %></dd>

  <dt>Student:</dt>
  <dd><%= @lend.student_id %></dd>

  <dt>Element:</dt>
  <dd><%= @lend.element_id %></dd>

</dl>
