<p id="notice"><%= notice %></p>

<h1>Elementos</h1>

<br>
 <%= link_to new_element_path, class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-plus"></span>
    Nuevo elemento
  <% end %>

<br>
<br>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
     <!--  <th>Id</th> -->
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Prestado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @elements.each do |element| %>
      <tr>
        <!-- <td><%= element.id %></td> -->
        <td><%= element.name %></td>
        <td><%= element.description %></td>
        <td><%= element.loaned %></td>
        <td><%= link_to 'Ver detalle', element %></td>
        <td><%= link_to 'Editar', edit_element_path(element) %></td>
        <td><%= link_to 'Borrar', element, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



