<p id="notice"><%= notice %></p>

<h1>Elementos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Loaned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @elements.each do |element| %>
      <tr>
        <td><%= element.id %></td>
        <td><%= element.name %></td>
        <td><%= element.description %></td>
        <td><%= element.loaned %></td>
        <td><%= link_to 'Ver detalle', element %></td>
        <td><%= link_to 'Editar', edit_element_path(element) %></td>
        <td><%= link_to 'Borrar', element, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 <%= link_to 'Nuevo elemento', new_element_path %>


