<div class="page-header">
  <%= link_to elements_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_element_path(@element), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Ver detalle</h1>
</div>

<dl class="dl-horizontal">
  <dt>Id:</dt>
  <dd><%= @element.id %></dd>

  <dt>Nombre:</dt>
  <dd><%= @element.name %></dd>

  <dt>Descripción:</dt>
  <dd><%= @element.description %></dd>

  <dt>Prestado:</dt>
  <dd> <%= @element.loaned %></dd>

</dl>
