<div class="container">
  <h1> Datos del estudiante</h1>
  <p id="notice"><%= notice %></p>
  
    
      <p>
        <strong>Identificación:</strong>
        <%= @student.id %>
      </p>
    
      <p>
        <strong>Codigo Estudiante:</strong>
        <%= @student.studentCode %>
      </p>
    
      <p>
        <strong>Nombre:</strong>
        <%= @student.name %>
      </p>
    
      <p>
        <strong>Correo:</strong>
        <%= @student.email %>
      </p>
    
      <p>
        <strong>Celular:</strong>
        <%= @student.phone %>
      </p>
      
      
  
  <%= link_to 'Editar', edit_student_path(@student) %> |
  <%= link_to 'Regresar', students_path %>
  

