<div class="page-header">
  <%= link_to students_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  
  <%= link_to edit_student_path(@student), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
</div>

<div class="container">
  <h1> Datos del estudiante</h1>
  <p id="notice"><%= notice %></p>
  
      <p>
        <strong>Identificación:</strong>
        <%= @student.id %>
      </p>
    
      <p>
        <strong>Codigo Estudiante:</strong>
        <%= @student.studentCode %>
      </p>
    
      <p>
        <strong>Nombre:</strong>
        <%= @student.name %>
      </p>
    
      <p>
        <strong>Correo:</strong>
        <%= @student.email %>
      </p>
    
      <p>
        <strong>Celular:</strong>
        <%= @student.phone %>
      </p>
      