<<<<<<< HEAD
<div class="container">
  <h1> Datos del estudiante</h1>
  <p id="notice"><%= notice %></p>
  
    
      <p>
        <strong>Identificación:</strong>
        <%= @student.id %>
      </p>
    
      <p>
        <strong>Codigo Estudiante:</strong>
        <%= @student.studentCode %>
      </p>
    
      <p>
        <strong>Nombre:</strong>
        <%= @student.name %>
      </p>
    
      <p>
        <strong>Correo:</strong>
        <%= @student.email %>
      </p>
    
      <p>
        <strong>Celular:</strong>
        <%= @student.phone %>
      </p>
      
      
  
  <%= link_to 'Editar', edit_student_path(@student) %> |
  <%= link_to 'Regresar', students_path %>
=======
<p id="notice"><%= notice %></p>

<p>
  <strong>Id</strong>
  <%= @student.id %>
</p>

<p>
  <strong>Studentcode</strong>
  <%= @student.studentCode %>
</p>

<p>
  <strong>Name</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Phone</strong>
  <%= @student.phone %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
>>>>>>> 71e0e2b7acdbb5030bc45bfc338ad13c735f40cb
  

